@using ECommerceShoppingCartMVC.Web.Models
@{
    ViewData["Title"] = "List";
}


<h2 class="wow pulse">Choose product form list:</h2>

<table class="table table-striped table-hover wow slideInLeft" style=" width:35%;">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>

    @foreach (Product p in ViewBag.ListProducts)
    {
        <tr>
            <td>@p.Name</td>
            <td>£ @Math.Round(p.Price, 2)</td>
            <td>
                @Html.ActionLink("Order now", "Add", "ShoppingCart", new { id = p.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
